In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re
import string
import warnings
warnings.filterwarnings("ignore")

In [2]:
#package importing
import pandas as pd

In [3]:
#loading the dataset

df = pd.read_csv('train.csv')
df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [4]:
df.isnull().sum()

id             0
keyword       61
location    2533
text           0
target         0
dtype: int64

In [5]:
df.shape

(7613, 5)

#### Spliting data

In [6]:
X= df.drop(['id','keyword','location','target'],axis=1)
y=df.pop('target')

In [7]:
X.head()

                                                text
0  Our Deeds are the Reason of this #earthquake M...
1             Forest fire near La Ronge Sask. Canada
2  All residents asked to 'shelter in place' are ...
3  13,000 people receive #wildfires evacuation or...
4  Just got sent this photo from Ruby #Alaska as ...

#### Preprocessing

In [8]:
import nltk

In [9]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ELCOT\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

#### Converting to Lower case

In [10]:
df["text_clean"] = df["text"].apply(lambda x: x.lower())

#### Removing of URL form words

In [11]:
def remove_URL(text):
    return re.sub(r"https?://\S+|www\.\S+", "", text)

df["text_clean"] = df["text_clean"].apply(lambda x: remove_URL(x))

#### remove link words and symbols

In [12]:
def remove_html(text):
    html = re.compile(r"<.*?>|&([a-z0-9]+|#[0-9]{1,6}|#x[0-9a-f]{1,6});")
    return re.sub(html, "", text)

df["text_clean"] =df["text_clean"].apply(lambda x: remove_html(x))

#### Remove emojis

In [13]:
def remove_emojis(text):
    emoji_pattern = re.compile(
        '['
        u'\U0001F600-\U0001F64F'  # emoticons
        u'\U0001F300-\U0001F5FF'  # symbols & pictographs
        u'\U0001F680-\U0001F6FF'  # transport & map symbols
        u'\U0001F1E0-\U0001F1FF'  # flags (iOS)
        u'\U00002702-\U000027B0'
        u'\U000024C2-\U0001F251'
        ']+',
        flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

df["text_clean"] = df["text_clean"].apply(lambda x: remove_emojis(x))

In [14]:
def remove_punct(text):
    return text.translate(str.maketrans('', '', string.punctuation))
df["text_clean"] = df["text_clean"].apply(lambda x: remove_punct(x))

#### stopwords

In [15]:
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))

df['text'] = df['text'].apply(lambda x: ' '.join(term for term in x.split() if term not in stop_words))


#### tweettokenizer

In [16]:
import nltk
from nltk import TweetTokenizer

tokenizer = TweetTokenizer()

df['tokens'] = [tokenizer.tokenize(item) for item in df.text]

In [17]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()


X = vectorizer.fit_transform(df.text).toarray()
y = y

#### Spliting the data

In [18]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.30,random_state=42)

#### Creating the LogisticRegression Model

In [ ]:
from sklearn.linear_model import LogisticRegression

lor = LogisticRegression()
lor.fit(X_train,y_train)

In [ ]:
y_pred = lor.predict(X_test)
y_pred

#### confusion matrix and classification report

In [ ]:
from sklearn.metrics import *

In [ ]:
cm=confusion_matrix(y_test, y_pred)
cm

In [ ]:
clr= classification_report(y_test, y_pred)
print(clr)

#### Confusion matrix heatmap

In [ ]:
sns.heatmap(cm,annot = True,fmt='g')